body {
	margin: 0;
	padding: 0;
	font-family: "Raleway",Helvetica,Arial,sans-serif;
	font-size: 18px;
	line-height: 28px;
	color: #1F1C0D;
	background-color: #3BAFDA;
}

.row > div {
	-webkit-transition: width .5s; /* Safari */
    transition: width .5s;	
}

/*=========== HEADER ===========*/

header {
	border-top: 12px solid #1f1C0D;
	padding: 2em 0;
}

header .logo {
	height: 100px;
}
header .logo a svg:hover {
	border-bottom: 0px;
	opacity: 0.6;
}
header .logo a svg {
	height: 65%;
	position: relative;
	/*top: 5px;*/
	display:block;
	/*margin: auto;*/
}
header .logo {
	-webkit-transition: height .2s; /* Safari */
    transition: height .2s;
}
header #title {
	font-size: 1.5em;
	line-height: 1.75em;
	margin: 0;
}

@media (min-width: 768px) {
  	header .logo {
    	height: 150px;
  	}
	header .logo a {
		position: relative;
		top: 30px;
	}
	header .logo a svg {
		height: 75%;
	}
	header nav ul {
		float: right;
	}
}

header nav ul {
	list-style: none;
	line-height: 2em;
}

header nav ul li {
	display: inline-block;
	padding-right: 1em;
}

header nav ul li a {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: 600;
  	border-bottom: 2px solid #FFF; 
}

/*=========== TYPOGRAPHY ===========*/

a {
  	text-decoration: none;
  	color: #1F1C0D; 
	opacity: 1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}

a:hover {
	opacity: 0.675;
    text-decoration: none;
}

p a, ul a, ol a {
  	/*color: #379F7A;*/
  	border-bottom: 2px solid #FFF; 
}

p {/*margin-bottom: 2em;*/ -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}

p {
	max-width: 42.5rem;
}

.basemap {
	background-color: #3BAFDA;
}
 
#map { 
	position:absolute; 
	/*top:130px; 
	bottom:0; 
	margin-bottom:-130px;*/
	width:100%; 
	height:400px;
	background-color: #3BAFDA;
	z-index: -1;
}